.workContainer {
  display: flex;
  justify-content: space-between;
}

.workPicContainer {
  align-self: flex-end;
  margin-right: 10vw;
}

.appInfoBoxes {
  background-color: rgb(81, 58, 130);
  margin: 15px 0 15px 0;
  border-radius: 10px;
  padding: 0.5vw 0.5vw 0.1vw 0.5vw;
  color: rgb(216, 210, 229);
}

.githubLink {
  color: rgb(216, 210, 229);
}

.toSmallDisplay {
  display: none;
  margin-top: 15px;
}

.toSmallText {
  margin: 25px 0 0 5vw;
  text-align: center;
  width: 55vw;
}

@media (max-width: 900px) {
  .workPicContainer {
    display: none;
  }
}

@media (max-width: 768px) {
  .toSmallDisplay {
    display: initial;
  }
}
